@import './main.css';
@import './effect.css';

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
  --primary-color: #FCFEEF;
  --secondary-color: #469CA1;
  --third-color: #DBD8BE;
  --error-color: #F44336;
  --text-shadow: 8px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
  overflow: hidden;
}

h1, h2, h3, p, button, text, input {
  font-family: 'Caprasimo', sans-serif;
  color: var(--primary-color);
  margin: 0;
}

h1 {
  font-size: 8rem;
  text-shadow: 
    0 0 calc(var(--text-shadow) / 2) var(--primary-color), 
    0 0 var(--text-shadow) var(--primary-color), 
    0 0 var(--text-shadow) var(--primary-color);
}

h2 {
  font-size: 2.4rem;
  text-shadow: 
    0 0 calc(var(--text-shadow) / 4) var(--primary-color), 
    0 0 calc(var(--text-shadow) / 2) var(--primary-color), 
    0 0 calc(var(--text-shadow) / 2) var(--primary-color);
    padding-bottom: 1rem;
}

h3, p, input {
  font-size: 1.6rem;
  text-shadow: 
    0 0 calc(var(--text-shadow) / 4) var(--primary-color), 
    0 0 calc(var(--text-shadow) / 2) var(--primary-color), 
    0 0 calc(var(--text-shadow) / 2) var(--primary-color);
}

button:hover, input:focus {
  background-color: var(--third-color);
  box-shadow: 0 0 4px var(--third-color), 0 0 8px var(--third-color);
}

button, input {
  font-size: 1.8rem;
  border: none;
  color: var(--secondary-color);
  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: 0 0 4px var(--primary-color), 0 0 8px var(--primary-color);
    text-shadow: 
    0 0 calc(var(--text-shadow) / 4) var(--secondary-color), 
    0 0 calc(var(--text-shadow) / 2) var(--secondary-color), 
    0 0 calc(var(--text-shadow) / 2) var(--secondary-color);
}

button {
  position: absolute;
  padding: 10px 20px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

input {
  outline: none;
  width: 240px;
  padding: 5px 10px;
}