@import './main.css';
@import './effect.css';

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
  --primary-color: #FCFEEF;
  --secondary-color: #469CA1;
  --third-color: #DBD8BE;
  --error-color: #F44336;
  --text-shadow: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
  overflow: hidden;
}

h1, h2, h3, p, button, text, input {
  font-family: 'Caprasimo', sans-serif;
  color: var(--primary-color);
  margin: 0;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2.4rem;
    padding-bottom: 1rem;
}

h3, p, input, ul {
  font-size: 1.6rem;
}

button, input {
  font-size: 1.8rem;
  border: none;
  color: var(--secondary-color);
  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: 0 0 4px var(--primary-color), 0 0 8px var(--primary-color);
}

ul {
  list-style: number;
}
