#status {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#status.failed p {
    color: var(--error-color);
    text-shadow: 0 0 calc(var(--text-shadow) / 4) var(--error-color),
        0 0 calc(var(--text-shadow) / 2) var(--error-color),
        0 0 calc(var(--text-shadow) / 2) var(--error-color);
}

#login-section,
#lobby-section,
#game-section,
#waiting-section,
#result-section,
#rank-section {
    display: none;
}

#game-board {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#login {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

#quit-button {
    display: none;
}

#select-button,
#restart-button {
    bottom: 125px;
}

button {
    position: absolute;
    padding: 10px 20px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

input {
    outline: none;
    width: 240px;
    padding: 5px 10px;
}

button:hover,
input:focus,
#select-button.disabled {
    background-color: var(--third-color);
    box-shadow: 0 0 4px var(--third-color), 0 0 8px var(--third-color);
}

#select-button.disabled {
    cursor: not-allowed;
}

#game-section {
    position: relative;
}

#game-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 6rem;
}

#logout-button {
    display: none;

    position: absolute;
    top: unset;
    right: unset;
    bottom: 50px;
    left: 50px;
    transform: unset;

    font-size: 1.2rem;
}

#open-rank-button {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: unset;
    left: unset;
    transform: unset;

    font-size: 1.2rem;
}
