@import './main.css';
@import './effect.css';

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
  --primary-color: #FCFEEF;
  --secondary-color: #469CA1;
  --third-color: #DBD8BE;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
  color: var(--primary-color);
}

h1, h2 {
  font-family: 'Caprasimo', sans-serif;
  margin: 0;
}

h1 {
  font-size: 8rem;
  text-shadow: 0 0 4px var(--primary-color), 0 0 8px var(--primary-color), 0 0 8px var(--primary-color);
}

h2 {
  font-size: 2rem;
  text-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color), 0 0 4px var(--primary-color);
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  font-family: 'Caprasimo', sans-serif;
  font-size: 2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  box-shadow: 0 0 8px var(--primary-color), 0 0 16px var(--primary-color);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 1px var(--secondary-color), 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color);
}

button:hover {
  background-color: var(--third-color);
  box-shadow: 0 0 4px var(--third-color), 0 0 8px var(--third-color);
}