@import './main.css';
@import './effect.css';

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
  --primary-color: #FCFEEF;
  --secondary-color: #469CA1;
  --third-color: #DBD8BE;
  --error-color: #F44336;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
  color: var(--primary-color);
  overflow: hidden;
}

h1, h2, p, button {
  font-family: 'Caprasimo', sans-serif;
  margin: 0;
}

h1 {
  font-size: 8rem;
  text-shadow: 0 0 4px var(--primary-color), 0 0 8px var(--primary-color), 0 0 8px var(--primary-color);
}

h2 {
  font-size: 2rem;
  text-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color), 0 0 4px var(--primary-color);
}

p {
  font-size: 1.4rem;
  text-shadow: 0 0 1px var(--secondary-color), 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color);
}

button {
  font-size: 1.8rem;
  color: var(--secondary-color);
  text-shadow: 0 0 1px var(--secondary-color), 0 0 2px var(--secondary-color), 0 0 2px var(--secondary-color);
}