#status {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}

#status p {
  color: var(--primary-color);
  text-shadow: 0 0 1px var(--primary-color), 0 0 2px var(--primary-color), 0 0 2px var(--primary-color);
}

#status.failed p {
  color: var(--error-color);
  text-shadow: 0 0 1px var(--error-color), 0 0 2px var(--error-color), 0 0 2px var(--error-color);
}

#login-section, #lobby-section {
    display: none;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  cursor: pointer;
  box-shadow: 0 0 4px var(--primary-color), 0 0 8px var(--primary-color);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  background-color: var(--third-color);
  box-shadow: 0 0 4px var(--third-color), 0 0 8px var(--third-color);
}